<div class="breadcrumbs">
  <div class="container">
    <div class="breadcrumbs-main">
      <ol class="breadcrumb">
        <li><a href="/"><%= render_breadcrumbs %></a></li>
        <li class="active"><%= @product.title %></li>
      </ol>
    </div>
  </div>
</div>


<div class="single contact">
  <div class="container">
    <div class="single-main">
      <div class="col-md-9 single-main-left">
        <div class="sngl-top">
          <div class="col-md-5 single-top-left">
            <div class="flexslider">
              <ul class="slides">
                <li data-thumb="<%= asset_path 's-1.jpg' %>">
                  <div class="thumb-image"><img src="<%= asset_path 's-1.jpg' %>" data-imagezoom="true" class="img-responsive" alt=""></div>
                </li>
                <li data-thumb="<%= asset_path 's-2.jpg' %>">
                  <div class="thumb-image"><img src="<%= asset_path 's-2.jpg' %>" data-imagezoom="true" class="img-responsive" alt=""></div>
                </li>
                <li data-thumb="<%= asset_path 's-3.jpg' %>">
                  <div class="thumb-image"><img src="<%= asset_path 's-3.jpg' %>" data-imagezoom="true" class="img-responsive" alt=""></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>